@import './tailwind.css';

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik-Regular"),
    url("../../fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: "Rubik", sans-serif;
}
